<footer class="footer">
  <div class="container">
    <div class="footer-links">
      <a href="https://github.com/ChatAgentRelay/ChatAgentRelay">GitHub</a>
      <a href="{{ site.baseurl }}/docs/">Docs</a>
      <a href="{{ site.baseurl }}/blog/">Blog</a>
      <a href="{{ site.baseurl }}/why-car/">Why CAR</a>
      <a href="{{ site.baseurl }}/use-cases/">Use Cases</a>
      <a href="https://github.com/ChatAgentRelay/ChatAgentRelay/issues">Issues</a>
    </div>
    <p>MIT License &middot; Built with Bun and TypeScript</p>
  </div>
</footer>
